.header {
    background-color: rgb(127, 199, 142); 
    border: 2px; 
    border-color: white;
}

.first-column {
    background-color: rgb(133, 173, 81); 
    border: 2px; 
    border-color: white;
}

.body {
    background-color: rgba(197, 200, 207, 0.979); 
    border: 2px; 
    border-color: white;    
}

.body h3 {
    font-size: 12px;
    text-align: center;
}

.first-column h3 {
    text-align: center;
}

.header h3 {
    text-align: center;
}