<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    group
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Actividades de seguimiento
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0" style="background-color: white !important;">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon style="color: black !important;">search</mat-icon>
                    <input #filter placeholder="Buscar un actividad">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button
                    [routerLink]="'/tasks/new'"
                    class="add-product-button fuse-white mt-24 mt-md-0">
                <mat-icon style="color: black !important;">group_add</mat-icon> &nbsp;
                <span>Agregar una actividad</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="products-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
                fusePerfectScrollbar>

                <ng-container matColumnDef="user_num_doc">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>DNI</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.user_pers_info.user_document.user_num_doc}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="user_names">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombres</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.user_pers_info.user_names}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Category Column -->
                <ng-container matColumnDef="user_ape_pat">
                    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Ap. Paterno</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
                        <p class="text-truncate">
                            {{product.user_pers_info.user_ape_pat}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Price Column -->
                <ng-container matColumnDef="user_mail">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Email</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs>
                        <p class="text-truncate">
                            {{product.user_mail}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="user_occupation_desc">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Ocupación
                    </mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs>
                        <p class="text-truncate">
                            {{product.user_medic_info.user_occupation_info.user_occupation_desc}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="user_red_sal">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Red de salud</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs>
                        <p class="text-truncate">
                            {{product.user_medic_info.user_red_sal}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="user_tasks">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>N° Tareas</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs>
                        <p *ngIf="product.user_tasks != null" class="text-truncate">
                            {{product.user_tasks.length}}
                        </p>
                        <p *ngIf="product.user_tasks == null" class="text-truncate">
                            0
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="user_valid">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Activo</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs>
                        <mat-chip-list>
                            <mat-chip *ngIf="product.user_valid === '1'"
                                style="background-color: green !important;" selected>Activado</mat-chip>
                            <mat-chip *ngIf="product.user_valid === '0'"
                                style="background-color: yellow !important; color: black;" selected>Desactivado</mat-chip>
                        </mat-chip-list>
                    </mat-cell>
                </ng-container>

                <!-- Active Column -->
                <ng-container matColumnDef="stat_reg">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Estado</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs>
                        <mat-icon *ngIf="product.stat_reg === '1'" class="active-icon green-600 s-16">check</mat-icon>
                        <mat-icon *ngIf="product.stat_reg === '0'" class="active-icon red-500 s-16">close</mat-icon>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let product; columns: displayedColumns;" class="product" matRipple
                    [routerLink]="'/tasks/' + product.user_id + '/usuario'">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
