<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    pregnant_woman
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Padrón nominal de gestantes
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0" style="background-color: white !important;">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon style="color: black !important;">search</mat-icon>
                    <input #filter placeholder="Buscar un paciente">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button [routerLink]="'/patients-ges/new'"
                class="add-product-button fuse-white mt-24 mt-md-0">
                <mat-icon style="color: black !important;">group_add</mat-icon> &nbsp;
                <span>Agregar un paciente</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="products-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
                fusePerfectScrollbar>

                <ng-container matColumnDef="pat_num_doc">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>DNI</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.pat_num_doc}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="pat_names">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombres</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.pat_names}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="pat_familia">
                    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Apellidos</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
                        <p class="text-truncate">
                            {{product.pat_familia}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="pat_fec_nac">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Fecha de nacimiento
                    </mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs>
                        <p class="text-truncate">
                            {{product.pat_fec_nac}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="pat_historia">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Historia</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs>
                        <p class="text-truncate">
                            {{product.pat_historia}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="pat_comunidad">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Comunidad</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs>
                        <p class="text-truncate">
                            {{product.pat_comunidad}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="pat_state">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Estado</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs>
                        <mat-chip-list>
                            <mat-chip *ngIf="product.pat_hcd >= 11.0"
                                style="background-color: green !important;" selected>Normal</mat-chip>
                            <mat-chip *ngIf="product.pat_hcd < 10.9 && product.pat_hcd >= 10.0"
                                style="background-color: orange !important;" selected>A. Leve</mat-chip>
                            <mat-chip *ngIf="product.pat_hcd < 9.9 && product.pat_hcd >= 7.0"
                                style="background-color: orangered !important;" selected>A. Moderada</mat-chip>
                            <mat-chip *ngIf="product.pat_hcd < 7.0" style="background-color: red !important;"
                                selected>A. Severa</mat-chip>
                        </mat-chip-list>
                    </mat-cell>
                </ng-container>

                <!-- Active Column -->
                <ng-container matColumnDef="pat_active">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Activo</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs>
                        <mat-icon *ngIf="product.pat_status" class="active-icon green-600 s-16">check</mat-icon>
                        <mat-icon *ngIf="!product.pat_status" class="active-icon red-500 s-16">close</mat-icon>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let product; columns: displayedColumns;" class="product" matRipple
                    [routerLink]="'/patients-ges/'+product.pat_id+'/'+product.pat_handle">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>