<div fxLayout="row" fxLayoutAlign="start center">

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex>

        <div class="info" fxFlex fxFlexLayout="column">

            <div class="title">
                {{todo.title}}
            </div>

            <div class="notes">
                {{todo.notes}}
            </div>

            <div class="notes">
                {{todo.desc}}
            </div>

            <div class="notes">
                Fecha de vencimiento: {{todo.dueDate | date: 'EEEE, dd'}} de
                {{todo.dueDate | date: 'MMMM'}} del
                {{todo.dueDate | date: 'y'}}
            </div>

            <div class="notes">
                <mat-chip-list class="mat-chip-list-stacked">
                    <mat-chip *ngIf="todo.task.schedule_ejec === '1'" selected style="background-color: green">
                        Por hacer
                    </mat-chip>
                    <mat-chip *ngIf="todo.task.schedule_ejec === '2'" selected style="background-color: deepskyblue">
                        En progreso
                    </mat-chip>
                    <mat-chip *ngIf="todo.task.schedule_ejec === '3'" selected style="background-color: darkkhaki">
                        Completado
                    </mat-chip>
                    <mat-chip *ngIf="todo.task.schedule_ejec === '4'" selected style="background-color: darkgrey">
                        Validado
                    </mat-chip>                                                            
                </mat-chip-list>
            </div>

        </div>

        <div class="actions" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation()"
                fxHide.xs>
                <mat-icon class="secondary-text">more_vert</mat-icon>
            </button>

            <mat-menu #moreMenu="matMenu">
                <button mat-menu-item aria-label="toggle done" (click)="toggleCompleted($event)">
                    <ng-container *ngIf="todo.completed">
                        <mat-icon>check_box</mat-icon>
                        <span>Desmarcar como completado</span>
                    </ng-container>
                    <ng-container *ngIf="!todo.completed">
                        <mat-icon>check_box_outline_blank</mat-icon>
                        <span>Marcar como completado</span>
                    </ng-container>
                </button>

            </mat-menu>

        </div>

    </div>

</div>